DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=unilever_db

PORTAL_URL=https://smartmanagement.smollan.com/#/login
PORTAL_USER=your_portal_user
PORTAL_PASS=your_portal_password
PORTAL_ENTITY=Morocco Unilever
UNILEVER_DOWNLOAD_DIR=./data-engineering/downloads
PORTAL_HEADLESS=false
PORTAL_SLOW_MO_MS=250
PORTAL_TIMEOUT_MS=30000
PORTAL_EXPORT_TIMEOUT_MS=300000
